<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#home">Baja Ringan Sentosa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#About">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#feedback">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">Admin</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

     <div class="container-home" id="home">
        <div class="container-img">

          <img src="https://www.sulindasteel.com/wp-content/uploads/2020/12/kisspng-i-beam-steel-pipe-metal-welded-i-beams-tsb-5b683be3c202a6.4037799315335577317947.png" alt="">

        </div>
        <div class="container-content">
         <h1>Toko Baja Ringan Sentosa</h1>
         <p id="type"></p>
        </div>
     </div>


     <div class="container-about" id="About">
      <h1>About</h1>
          <div class="container-content">
 
            <li> Produk Berkualitas Tinggi:
            Kami menyediakan berbagai jenis baja berat yang memenuhi standar kualitas tertinggi. Produk-produk kami dirancang untuk kekuatan, daya tahan, dan keandalan optimal, memastikan keamanan dan kepuasan pelanggan. </li> </br></br>
            
            <li>Rentang Produk yang Luas:
            Dari baja struktural hingga baja tahan aus, kami memiliki rentang produk yang luas untuk memenuhi kebutuhan berbagai proyek konstruksi dan industri. Dengan pilihan yang beragam, pelanggan dapat menemukan solusi yang sesuai dengan spesifikasi proyek mereka. </li>  </br></br>
            
            <li> Konsultasi Ahli:
            Tim ahli kami siap memberikan konsultasi yang komprehensif kepada pelanggan. Dengan pengalaman dan pengetahuan yang luas, kami dapat membantu dalam pemilihan baja yang paling sesuai dengan kebutuhan spesifik proyek dan anggaran.</li> </br></br>
            
            <li>Pelayanan Pelanggan Unggul:
            Kami mengutamakan kepuasan pelanggan. Pelayanan pelanggan kami siap membantu dalam segala hal, mulai dari pemesanan hingga pengiriman. Fleksibilitas dan responsivitas kami memastikan pengalaman pelanggan yang lancar.</li></br></br>
            
            <li> Inovasi Teknologi:
            Kami terus menerapkan inovasi teknologi terkini dalam proses produksi dan distribusi kami. Ini tidak hanya meningkatkan efisiensi tetapi juga memastikan bahwa pelanggan kami mendapatkan produk dengan teknologi terbaru.</li> </br></br>
            
            <li> Komitmen Lingkungan:
            Sebagai bagian dari tanggung jawab sosial perusahaan, kami berkomitmen untuk beroperasi secara berkelanjutan dan ramah lingkungan. Langkah-langkah kami melibatkan pengelolaan limbah, pengurangan jejak karbon, dan penggunaan teknologi hijau.</li></br></br>
            
            <li> Sertifikasi dan Standar:
            Produk kami memenuhi standar dan sertifikasi industri yang ketat. Kepatuhan terhadap standar kualitas ini memastikan bahwa pelanggan kami menerima produk yang sesuai dengan kebutuhan dan harapan mereka.</li></br></br>
             
          </div>
     </div>


     <div class="container-services" id="Services">
       <h1>Services</h1>
        <div class="container-content">
          
                1. Konsultasi Ahli:
                Tim ahli kami siap memberikan konsultasi mendalam untuk membantu Anda memilih baja berat yang sesuai dengan kebutuhan proyek Anda. Dengan pengetahuan yang luas dalam industri ini, kami dapat memberikan saran terbaik untuk memastikan keberhasilan proyek Anda. <br><br>

                2. Pemesanan yang Mudah:
                Proses pemesanan di toko kami sangat mudah dan efisien. Dengan sistem yang terotomatisasi, Anda dapat dengan cepat memilih produk yang diinginkan, menentukan jumlah yang diperlukan, dan menyelesaikan transaksi dengan cepat. Kemudahan ini dirancang untuk menghemat waktu dan upaya Anda.  <br><br>

                3. Pengiriman Cepat:
                Kami memahami pentingnya waktu dalam proyek konstruksi dan industri. Oleh karena itu, kami menawarkan layanan pengiriman cepat untuk memastikan bahwa produk baja berat Anda sampai tepat waktu dan sesuai jadwal proyek. <br><br>

                4. Custom Cutting dan Pemotongan Presisi:
                Untuk memenuhi kebutuhan spesifik proyek Anda, kami menyediakan layanan custom cutting dan pemotongan presisi. Dengan peralatan canggih, kami dapat menyesuaikan produk baja berat sesuai dengan dimensi yang diinginkan. <br><br>

                5. Pemeliharaan Stok:
                Toko kami memiliki stok yang luas dan terus diperbarui, memastikan ketersediaan produk yang Anda butuhkan kapan pun diperlukan. Kami berusaha untuk memelihara stok yang mencakup berbagai jenis baja berat untuk memenuhi kebutuhan pelanggan dengan beragam proyek.  <br><br>

                6. Pelayanan Pelanggan Responsif:
                Layanan pelanggan adalah prioritas utama kami. Tim pelayanan pelanggan kami siap membantu dengan pertanyaan, permasalahan, atau permintaan Anda. Responsibilitas dan kepuasan pelanggan adalah fokus utama kami. <br><br>

                7. Harga Kompetitif:
                Kami berkomitmen untuk menyajikan harga yang kompetitif dan transparan. Dengan menyelaraskan kualitas produk dan layanan unggulan, kami memberikan nilai tambah yang sesuai dengan investasi Anda. <br><br>

                Kami percaya bahwa layanan-layanan ini, bersama dengan komitmen kami terhadap kualitas dan kepuasan pelanggan, menjadikan toko baja berat kami sebagai mitra yang handal dalam memenuhi kebutuhan material konstruksi dan industri Anda. Jangan ragu untuk menghubungi kami untuk informasi lebih lanjut atau untuk memulai kerjasama. Terima kasih telah memilih kami sebagai pilihan utama Anda. <br><br>
          
        </div>
     </div>






     <div class="container-contact" id="contact">
      <h1>Contact</h1>
      <div class="container-content">
        <div class="container-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31730.794973885855!2d107.04958530564134!3d-6.217574551296225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698f30c2a0aa27%3A0xdd4ca466cf4beb9c!2sJejalenjaya%2C%20Kec.%20Tambun%20Utara%2C%20Kabupaten%20Bekasi%2C%20Jawa%20Barat!5e0!3m2!1sid!2sid!4v1702829657753!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="media-social">
          <a href="https://www.instagram.com/cysrrzlrsd/?hl=id">INSTAGRAM</a>
          <a href="#">WHATSAPP : 089672623999</a>
        </div>
      </div>
     </div>

     <div class="alert alert-primary fixed-top" role="alert" style="width: 50%;">
      Mohon Tunggu
    </div>
    




     <div class="container-feedback" id="feedback">
      <h1>Feedback</h1>
      <form>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="example Justin">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Coment</label>
          <textarea class="form-control" id="message" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-outline-primary" onclick="sendToMongo()">Send This</button>
      </form>
   </div>







   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Admin Page</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="inputPassword5" class="form-label">Password</label>
            <input type="password" id="pw" class="form-control" aria-describedby="passwordHelpBlock">
            <div id="passwordHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="alertfunc()">Go</button>
        </div>
      </div>
    </div>
  </div>
  






     <script>

       const alertBox = document.querySelector(".alert");
       let decrement = 3;



      const li = document.querySelectorAll(".container-about .container-content li");
      const contentAbout = document.querySelector(".container-about .container-content");
      const typed = new Typed("#type", {
        strings: ['baja berat adalah bentuk bangunan yang tahan lama dan hemat biaya yang dapat digunakan untuk hampir semua jenis struktur, seperti bangunan industri berat, sistem pendukung peralatan, infrastruktur, gedung bertingkat dan jembatan. Karena mutu baja yang tinggi, jenis struktur baja ini sangat andal.'],
        typeSpeed: 50,
        showCursor: false,
        loop: true,
      })

      window.addEventListener("scroll", () => {
        const topAbout = contentAbout.getBoundingClientRect().top;
      
        if (topAbout <= window.innerHeight) {
          contentAbout.classList.add("activeAbout");
          li.forEach((e,i) => {
            if (i === 6) {
              i = 1;
              e.style.animation = `animationLi ${i + 1}s alternate infinite`

            } else {
              e.style.animation = `animationLi ${i + 1}s alternate infinite`
            }
          })

        } else {
          contentAbout.classList.remove("activeAbout")
          
        }



      })






      function sendToMongo() { 
  
  const email = document.querySelector("#email").value;
  const name = document.querySelector("#name").value;
  const message = document.querySelector("#message").value;
  const time = getTime();



  if (!email || !name || !message ) {
    alert("Harap isi semua kolom!");
  }  else {
    fetch("http://localhost:3000/feedback", {
      method: 'POST',
      headers: {
    'Content-Type': 'application/json' // Pastikan untuk mengatur header Content-Type sesuai kebutuhan Anda
    // Jika diperlukan, Anda juga bisa menambahkan header lain di sini
  },
  body: JSON.stringify({name,email,message,time}) // Konversi objek data ke JSON string
    })
    .then(res => res.json())
    .then(data => {
           console.log(data.message);
    })
    .catch(error => {
      console.error('Error:', error);
    });

      uiAlert();
      setTimeout(() => {
        clearInterval(uiAlert);
        alert("berhasil dikirim")
        alertBox.classList.remove("active");
        location.reload();
      }, 4000);
  }
}


        function uiAlert() {
        alertBox.classList.add("active");
        return setInterval(() => {
            boxAlert();
        },1000)
        }

      function boxAlert() {
        alertBox.innerHTML = `mohon ditunggu ${decrement--}` 
      }


     function alertfunc()  {
        const pw = document.querySelector("#pw");
        if (pw.value == "ceysaradmin123") {
           location.href = "/admin"
        } else if (pw.value == "") {
         alert("password kosong");
        } else {
          alert("password salah");
        }
      }


      function getTime() {
        var waktuSekarangUTC = new Date();
        var zonaWaktuLokal = "Asia/Jakarta";
        var waktuSekarangLokal = waktuSekarangUTC.toLocaleString('en-ID', { timeZone: zonaWaktuLokal });
        var stringWaktuLokal = `${waktuSekarangLokal}`;
        return stringWaktuLokal;
      }
     </script>
</body>
</html>